In [29]:
import pandas as pd

In [30]:
df_iris = pd.read_csv("iris.data.txt", header=None, usecols=[0, 1, 2, 3])

In [31]:
df_iris

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [32]:
import skcriteria as skc
from skcriteria.preprocessing.scalers import VectorScaler, SumScaler
from skcriteria.agg.topsis import TOPSIS
from skcriteria.agg.electre import ELECTRE2
from skcriteria.ranksrev.rank_transitivity_check import RankTransitivityChecker

In [33]:
# def test_TOPSIS_tzeng2011multiple():
#     """
#     Data from:
#         Tzeng, G. H., & Huang, J. J. (2011).
#         Multiple attribute decision making: methods and applications.
#         CRC press.

#     """
#     dm = skcriteria.mkdm(
#         matrix=[
#             [5, 8, 4],
#             [7, 6, 8],
#             [8, 8, 6],
#             [7, 4, 6],
#         ],
#         objectives=[max, max, max],
#         weights=[0.3, 0.4, 0.3],
#     )

#     transformer = VectorScaler(target="matrix")
#     dm = transformer.transform(dm)

#     expected = RankResult(
#         "TOPSIS",
#         ["A0", "A1", "A2", "A3"],
#         [3, 2, 1, 4],
#         {"similarity": [0.5037, 0.6581, 0.7482, 0.3340]},
#     )

#     ranker = TOPSIS()
#     result = ranker.evaluate(dm)

#     assert result.values_equals(expected)
#     assert result.method == expected.method
#     assert np.allclose(
#         result.e_.similarity, expected.e_.similarity, atol=1.0e-4
#     )


dm_TOPSIS_tzeng2011multiple = skc.mkdm(
        matrix=[
            [5, 8, 4],
            [7, 6, 8],
            [8, 8, 6],
            [7, 4, 6],
        ],
        objectives=[max, max, max],
        weights=[0.3, 0.4, 0.3],
    )

transformer = VectorScaler(target="matrix")

pipeline_TOPSIS_tzeng2011multiple = skc.pipeline.mkpipe(transformer, TOPSIS())

pipeline_TOPSIS_tzeng2011multiple.evaluate(dm_TOPSIS_tzeng2011multiple)

Alternatives  A0  A1  A2  A3
Rank           3   2   1   4
[Method: TOPSIS]

In [34]:
# def test_ELECTRE2_cebrian2009localizacion():
#     """
#     Data From:
#         Cebrián, L. I. G., & Porcar, A. M. (2009). Localización empresarial
#         en Aragón: Una aplicación empírica de la ayuda a la decisión
#         multicriterio tipo ELECTRE I y III. Robustez de los resultados
#         obtenidos.
#         Revista de Métodos Cuantitativos para la Economía y la Empresa,
#         (7), 31-56.

#     """
#     dm = skcriteria.mkdm(
#         matrix=[
#             [6, 5, 28, 5, 5],
#             [4, 2, 25, 10, 9],
#             [5, 7, 35, 9, 6],
#             [6, 1, 27, 6, 7],
#             [6, 8, 30, 7, 9],
#             [5, 6, 26, 4, 8],
#         ],
#         objectives=[1, 1, -1, 1, 1],
#         weights=[0.25, 0.25, 0.1, 0.2, 0.2],
#     )

#     scaler = SumScaler("both")
#     dm = scaler.transform(dm)

#     kselector = ELECTRE2()
#     result = kselector.evaluate(dm)

#     assert np.all(result.rank_ == [6, 3, 2, 5, 1, 4])
#     np.testing.assert_allclose(result.e_.score, [5.0, 2.5, 2.0, 4.0, 1.0, 3.0])

dm_ELECTRE2_cebrian2009localizacion = skc.mkdm(
    matrix=[
        [6, 5, 28, 5, 5],
        [4, 2, 25, 10, 9],
        [5, 7, 35, 9, 6],
        [6, 1, 27, 6, 7],
        [6, 8, 30, 7, 9],
        [5, 6, 26, 4, 8],
    ],
    objectives=[1, 1, -1, 1, 1],
    weights=[0.25, 0.25, 0.1, 0.2, 0.2],
)

pipeline_ELECTRE2_cebrian2009localizacion = skc.pipeline.mkpipe(SumScaler("both"), ELECTRE2())

print(pipeline_ELECTRE2_cebrian2009localizacion.evaluate(dm_ELECTRE2_cebrian2009localizacion))


# def test_ELECTRE2_wang2006():
#     """
#     Data From:
#         Xiaoting Wang, Evangelos Triantaphyllou,
#             Ranking irregularities when evaluating alternatives by using
#             some ELECTRE methods,
#         Omega,
#         Volume 36, Issue 1,
#         2008,

#     """
#     dm = skcriteria.mkdm(
#         matrix=[
#             [1, 2, 1, 5, 2, 2, 4],
#             [3, 5, 3, 5, 3, 3, 3],
#             [3, 5, 3, 5, 3, 2, 2],
#             [1, 2, 2, 5, 1, 1, 1],
#             [1, 1, 3, 5, 4, 1, 5],
#         ],
#         alternatives=["A1", "A2", "A3", "A4", "A5"],
#         objectives=[max, max, max, max, max, max, max],
#         weights=[0.0780, 0.1180, 0.1570, 0.3140, 0.2350, 0.0390, 0.0590],
#     )

#     kselector = ELECTRE2()
#     result = kselector.evaluate(dm)

#     assert np.all(result.rank_ == [4, 1, 3, 5, 2])
#     np.testing.assert_allclose(result.e_.score, [3.0, 1.0, 2.0, 4.0, 1.5])

dm_ELECTRE2_wang2006 = skc.mkdm(
    matrix=[
        [1, 2, 1, 5, 2, 2, 4],
        [3, 5, 3, 5, 3, 3, 3],
        [3, 5, 3, 5, 3, 2, 2],
        [1, 2, 2, 5, 1, 1, 1],
        [1, 1, 3, 5, 4, 1, 5],
    ],
    alternatives=["A1", "A2", "A3", "A4", "A5"],
    objectives=[max, max, max, max, max, max, max],
    weights=[0.0780, 0.1180, 0.1570, 0.3140, 0.2350, 0.0390, 0.0590],
)

pipeline_ELECTRE2_wang2006 = ELECTRE2()

print(pipeline_ELECTRE2_wang2006.evaluate(dm_ELECTRE2_wang2006))

Alternatives  A0  A1  A2  A3  A4  A5
Rank           6   3   2   5   1   4
[Method: ELECTRE2]
Alternatives  A1  A2  A3  A4  A5
Rank           4   1   3   5   2
[Method: ELECTRE2]

In [ ]:
steps = [
    [
        SumScaler("both"),
        VectorScaler(target="matrix")
    ],
    [
        ELECTRE2(),
        TOPSIS()
    ]
]
skc.pipelines.SKCCombinatorialPipeline(steps=steps)

In [75]:
steps = [pipeline_TOPSIS_tzeng2011multiple, pipeline_ELECTRE2_cebrian2009localizacion, pipeline_ELECTRE2_wang2006]
names = []
for step in steps:
    if isinstance(step, list):
        name = "_".join([type(s).__name__.lower() for s in step])
    else:
        name = type(step).__name__.lower()
    names.append(name)
skc.utils.unique_names(names=names, elements=steps)

[('skcpipeline_1',
  <SKCPipeline [steps=[('vectorscaler', <VectorScaler [target='matrix']>), ('topsis', <TOPSIS [metric='euclidean']>)]]>),
 ('skcpipeline_2',
  <SKCPipeline [steps=[('sumscaler', <SumScaler [target='both']>), ('electre2', <ELECTRE2 [p0=0.65, p1=0.5, p2=0.35, q0=0.65, q1=0.35]>)]]>),
 ('electre2', <ELECTRE2 [p0=0.65, p1=0.5, p2=0.35, q0=0.65, q1=0.35]>)]

In [50]:
combined_pipelines = skc.pipelines.mkcombinatorial(pipeline_TOPSIS_tzeng2011multiple, pipeline_ELECTRE2_cebrian2009localizacion, pipeline_ELECTRE2_wang2006)

In [76]:
combined_pipelines.named_pipelines

In [47]:
dm_iris = skc.mkdm(df_iris.to_numpy(), objectives=[1, -1, 1, 1])

1

In [48]:
rComps = []

combined_pipelines.evaluate(dm_iris)

In [49]:
rComps.ranks

[('SKCPipeline_SKCPipeline',
  Alternatives  A0  A1  A2  A3  A4  A5  A6  A7  A8  A9  A10  A11  A12  A13  A14  A15  A16  A17  A18  A19  A20  A21  A22  A23  A24  A25  A26  A27  A28  A29  A30  A31  A32  A33  A34  A35  A36  A37  A38  A39  A40  A41  A42  A43  A44  A45  A46  A47  A48  A49  A50  A51  A52  A53  A54  A55  A56  A57  A58  A59  A60  A61  A62  A63  A64  A65  A66  A67  A68  A69  A70  A71  A72  A73  A74  A75  A76  A77  A78  A79  A80  A81  A82  A83  A84  A85  A86  A87  A88  A89  A90  A91  A92  A93  A94  A95  A96  A97  A98  A99  A100  A101  A102  A103  A104  A105  A106  A107  A108  A109  A110  A111  A112  A113  A114  A115  A116  A117  A118  A119  A120  A121  A122  A123  A124  A125  A126  A127  A128  A129  A130  A131  A132  A133  A134  A135  A136  A137  A138  A139  A140  A141  A142  A143  A144  A145  A146  A147  A148  A149
  Rank          12  12  12  12  12  12  12  12  12  12   12   12   12   13   12   12   12   12   12   12   12   12   13   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12   12    11    12    10    12    12     5    12     8    12     9    12    12    12    12    12    12    12     4     1    12    12    12     2    12    12    10    12    12    12    12     7     6    12    12    12     3    12    12    12    12    12    12    12    12    12    12    12    12    12    12
  [Method: ELECTRE2])]